body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type=text] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=button]:hover {
    background-color: #45a049;
}

#weather {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
